html {
    font-size: 10px;
}

.pageTitle {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 3rem;
    justify-content: center;
}

.bikeCards {
    border: 2px solid #000000;
    width: 350px;
}

.bike {
    width: 50%;
}
.container {
    margin: 0 auto;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bikeList {
    width: 100%
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }
    .bikeCards{
        width: 75vw;
    }

}